<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правка пользователя</title>
</head>
<body>
<p><a href="/logout">Выход</a></p>
<p><a href="/">Главная страница</a></p>
<p><a href="/user">User page</a></p>
<p><a href="/admin">Список поользователей</a></p>
<h2>Правка пользователя</h2>
<form th:action="@{/admin/edit-user}" method="POST">
    <input type="hidden" id="id" name="id" th:value="${user.getId()}"/>
    <p>
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" required size="10" th:value="${user.getUsername()}"/>
    </p>
    <p>
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password" required size="10"/>
    </p>
    <p>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required size="10" th:value="${user.getEmail()}"/>
    </p>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>